<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class='row'>
        <div class='col-xs-12'>

</div></div>
    <h2>About My Background</h2>

    <div class='row'>
        <div class='col-xs-12 col-md-8'>
    <p>I have been a student of yoga since 1999, and a student of Iyengar Yoga since 2009. I practice yoga to learn about the condition of my body. I have cerebral palsy, which is a neurological disorder affecting my muscle control and muscle development. <a target="_blank" href="http://www.jeffwilkerson.net/dear-cerebral-palsy/" title="Dear Cerebral Palsy">Cerebral Palsy causes much isolation</a> - it is not a well known condition, and those that live with the condition often find difficulty in communicating the obstacles that impede an individual's ability to care for one's self.</p>
    <p>Yoga, and specifically the practice methodoligies taught by BKS Iyengar, have given me a path to understand and care for my body. The systematic  approach to yoga that I have learned through taking classes and workshops taught by Iyengar certified teachers have allowed me to penetrate my body and  mind beyond the affects of the CP, and beyond the feelings of isolation that has plagued me all my life. Iyengar Yoga, specifically, has allowed me to develop an intuitive sense of body alignment. Iyengar Yoga gives me a way to balance effort and ease.</p>
</div>
    <div class='col-md-4'>
        <ul>
            <li>
                <a href="http://cerebralpalsy.org/about-cerebral-palsy/" target="_blank">About Cerebral Palsy</a>
            </li>
            <li>
                <a href="http://well.blogs.nytimes.com/2014/08/20/what-is-so-special-about-iyengar-yoga/?_r=0" target="_blank">About Iyengar Yoga</a>
            </li>
            <li>
                <a href="http://www.swamij.com/yoga-sutras.htm" target="_blank">About Yoga Sutra's of Patanjali</a>
            </li>
            <li>
                Learning to balance effort and ease.
            </li>
        </ul>
        </div></div>

    <!--<div class='row'>
        <div class='col-xs-12'>
    <p>I am firmly committed to using Yoga as a tool to transcend the limitations of my body and experience the unity of existence. This gives me great gratidude, and motivates me to promote Yoga. I believe yoga is for every body. I believe that yoga is misunderstood by the masses as just a way to exercise and be fit, that yoga is not for broken bodies, and only for fit, flexible bodies. I remember times in my life where I felt utterly helpless when considering how to deal with my broken body. The fact is that every human has a broken body, and can benefit from the act of Yoga. The gratitude I experience when considering how much freedom yoga has given me prompts me to reflect those lessons I have learned. </p>
    <p>Again, I am not a teacher. I am a student interested in learning more about yoga, and  reflecting my conviction that every body can benefit from the teachings of Yoga, as outlined in the Yoga Sutra's of Patanjali. Furthermore, I wish to exercise my knowledge of Iyengar  Yoga because it's systematic approach has revealed to me a path towards liberation, which I find beautiful when considering the times in my life where I felt totally helpless and hopeless in finding a reason for living. This website serves as a way to educate myself on Yoga, with the hope that others may find this website useful in their own pursuit for liberation. I also wish to show how there is no right way to do Yoga, that yoga is for every body, and that those seeking personal growth should be encouraged to find a type of yoga that supports the desire for personal growth.</p>
</div></div>-->
    <h2>Organize The Content</h2>

    <div class='row'>
        <div class='col-xs-12'>
            <div class='pull-right' style="max-width: 35%;"><img class="img-responsive" src="/images/book-resources.jpg" alt="Book Resources"/></div>
    <p>This website aims to organize web resources by asana to systemtize learning of each asana. In considering how to group and present the asanas, I am referencing Yoga: The Iyengar Way by Silva, Mira and Shyam Mehta, and the Preliminary Course Study Guide by Geeta Iyengar. And of course, I am referencing Light on Yoga by BKS Iyengar.</p>
    <p>The resources compiled for this website come from Youtube, Instagram, blogs, and other web resources. I add these resources to the website as I find them. My intent is that these resources will </p>
    <ol>
        <li>Shed light on the methodologies of Iyengar Yoga.</li>
        <li>Show that yoga can be adapted for every body.</li>
        <li>Display the many manifestations of yoga practice all around the world. </li>
    </ol>
    <p>I have started this website with poses listed on the Preliminary Course syllabus as outlined by Geeta Iyengar. As time permits, I plan to add more poses and functionality of this site. </p>
</div></div>


    <!-- Team Member Profiles -->

</div>
<!-- /.container -->
