
<section class='pose-view container-fluid'>
	<div class='pose-list-view panel panel-default'>
		<div class='panel-heading'><h1 class='panel-title'>Pose Listing</h1></div>
		<div class='panel-body'>
			<p>
				Poses are listed in the order that they appear in Light On Yoga.
			</p>

			<div class='row'>
				<div class='col-sm-12 col-md-8'>
					<div class='row'>
						<div class='col-xs-1'>
						</div>
						<div class='col-xs-4'>
							<strong>Sanskrit Name</strong>
						</div>
						<div class='col-xs-4'>
							<strong>English Name</strong>
						</div>
						<div class='col-xs-3'>
							<strong>Tags</strong>
						</div>
					</div>
					<div class="row pose-listing" ng-repeat="pose in poseList | filter: filterList" data-image="{{pose.image.url}}" data-path='/poses/{{pose.sanskritName}}' >
						<div class='col-xs-1'>
							{{pose.loy_order}}
						</div>

						<div class='col-xs-4'>
							<a href="/poses/{{pose.sanskritName}}">{{pose.sanskritName}}</a>

						</div>
						<div class='col-xs-4'>
							{{pose.englishName}}
						</div>
						<div class='col-xs-3'>
							
								<span ng-repeat="poseTag in pose.tags track by $index">
									{{poseTag.tagName}}{{$last ? '' : ', '}}
								</span>
						</div>
					</div>

				</div>
				<div class='col-md-4 hidden-xs hidden-sm'>
					<div class='affix-panel'>
						<div class='pose-image-viewport' data-spy="affix" data-offset-top="260" data-offset-bottom="200">
							<img src='{{activePoseImg}}' class='img-responsive'/>
						</div>
						<div class='panel panel-default filter-panel'>
							<div class='panel-heading' ng-class="{'filtering': filtering}" ng-click="filtering = !filtering">Filter Poses</div>
							<div class='panel-body' ng-show="filtering">
								<div class='filter-item clearfix' ng-repeat="tag in tags">
									<label>{{tag.tagName}}</label>
									<input type='checkbox' bootstrap-switch class='toggle-tag bs-switch bootstrap-switch bootstrap-switch-mini' xxng-click="toggleTag(tag.ID)" data-tagID="{{tag.ID}}" data-tag-name="{{tag.tagName}}" ng-model='tag.filterOn'/> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	</div>
</section>
<!--
<script src="./js/bootstrap-switch.js"></script>
<script src="./js/ui-bootstrap-tpls-1.2.4.js"></script>
<script src='./js/pose-list-init.js'></script>
-->