<section class='xpose-view container-fluid front-page'>
	
	<h2>This Website...</h2>
	<p class='lead'><strong>This website</strong>, first and foremost is a <a href='http://blog.jeffwilkerson.net/propifyyourlife-documentation/'>demonstration and experiement</a> in using AngularJS to build a web application.</p>
	<p class='text-center'><a href='/poses' class='btn btn-success btn-lg'>See the Web Application</a></p>
	<p><strong>Essentially</strong> the App is a small but growing list of yoga poses. Each pose has its own page, and on each pose page, shows various web resources related to the pose. Building this small application gave me an opportunity to experiement with Views, Routes, and Services. </p>
	
	<p>I am a student of Iyengar Yoga and web development. While considering how I could advance my knowledge and experience in both of these subjects, I decided to combine these two passions into a single effort by building myself an AngularJS application about yoga.</p>
	<p class='text-center'>See Also: <br/> <a href='https://www.yogaglo.com/preview/class/3565' class='btn btn-default' target='_blank'>About Iyengar Yoga</a> 
		<a href='http://blog.jeffwilkerson.net/propifyyourlife-documentation/' class='btn btn-default '>Project's Documentation</a>
		<a href='https://github.com/stljeff1/Yoga-App' target='_blank' class='btn btn-info '>View Project on GitHub</a>
	</p>

	
	<p class='lead'>If you are curious in my <a href='http://www.jeffwilkerson.net/#skills'>technical abilities</a> as a <a href='http://jeffwilkerson.net'>Front-End Developer</a> in <strong>Portland, Oregon</strong>, check out the <a href='http://blog.jeffwilkerson.net/propifyyourlife-documentation/'>documentation</a> and <a href='https://github.com/stljeff1/Yoga-App' target='_blank'>source code</a>.</p>

    <div class='row' style='display: none;'>
        <div class='col-xs-12 col-md-8'>
        	<p>Iyengar Yoga is a unique system/methodology of yoga "characterized by main things": <a href='https://www.yogaglo.com/preview/class/3565' target='_blank'>Timing, Sequencing, and Alignment</a>. The goal of yoga, esssentially, is to access a state of union between and mind. Much like Web Frameworks like Bootstrap and AngularJS, which aim to systemize the development of web applications, the Iyengar Yoga methodology serves as a framework to systemtize the practice of Yoga and self realization.</p>
        	<p></p>
        </div>
        
        <div class='col-xs-12 col-md-4'>

        </div>
	</div>
</section>