
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>#PropifyYourLife</h1>
                <p class='lead'>I am a student of Iyengar Yoga and web development. This website is an ongoing project, serving three functions: </p>
                <ol>
                    <li>To give myself an opportunuity to develop a fully functioning web application from scratch using  the AngularJS Framework.</li>
                    <li>To systemtize my own learning of the asanas (poses) and the subject of yoga.</li>
                    <li>To attempt document the multitude of ways of performing an asana, as well as all the effects they produce on the individual</li>
                </ol>
                <p>I am heavily influenced by Iyengar Yoga because I have benefitted greatly from the method's systematic approach to learning yoga. Iyengar yoga is about blah blah blah.<br/><br/>

                Aside from my technical reasons to build this site, I have started this project to further my own understanding of yoga. This site is not meant to be anything more than that.</p>
                <p><a href="./about">More About this website</a></p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Invocation to Patanjali</h2>
                <audio controls="controls">
                  Your browser does not support the <code>audio</code> element.<br/>
                  Download the file <a href='./bksinvoc.wav'>here</a>.
                  <source src="bksinvoc.wav" type="audio/wav">
                </audio>
                <p>Audio taken from <a href="http://www.yogagroup.org/patanjal.html" target="_blank">http://www.yogagroup.org/patanjal.html</a></p>
                <div class='row'>
                    <div class='col-xs-12 col-md-6'>
                        <h4>English</h4>
                        <blockquote>
Yogena cittasya padena vacam<br/>
Malam sarirasyaca vaidyakena<br/>
Yopakarottam prvaram muninam<br>
Patanjalim pranjaliranato’smi<br/><br/>
Abahu purusakaram<br/>
Sankha cakrasi dharinam<br/>
Sahasra sirasam svetam<br/>
Pranamami Patanjalim
                        </blockquote>
                    </div>
                    <div class='col-xs-12 col-md-6'>
                        <h4>Sanskrit</h4>
                        <blockquote>
                            Let us bow before the noblest of sages, Patanjali, who gave yoga for serenity and sanctity of mind, grammar for clarity and purity of speech, and medicine for perfection of health.<br/><br/>
                            Let us prostrate before Patanjali, an incarnation of Adisesa, whose upper body has a human form, whose arms hold a conch and a disc, and who is crowned by a thousand-headed cobra.
                        </blockquote>
                    </div>
                </div>
                <p><a href="http://www.iyengaryogaamsterdam.com/?p=909" target="_blank">Dr. Geeta Iyengar on the Invocation to Patanjali</a></p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3><a href="./poses" class="btn btn-primary">Go to List of Poses</a></h3>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

